#main-footer {
    padding: 10px 0;
    ul {
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
    #main-footer {
    nav {
        a {
            color: #777;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            transition: all .3s;
        }
        a:hover {
            color: #0ed8d6;
        }
    }
    
        .copyright {
            line-height: 50px;
            margin: 0;
        }
        .social-icons {
            text-align: center;
        }
    }
}
